<h1>TransportSimple</h1>

<form [formGroup]="tableform">
  <div formArrayName="country_capital">
    <table class="center">
      <tr *ngFor="let item of tableformFields.controls; let pointIndex=index" [formGroupName]="pointIndex"
        (contextmenu)="onRightClick($event)">
        <td (contextmenu)="indexvar=pointIndex;indexheader=0">
          <input type="text" Placeholder="select country" id="countryname" formControlName="country"
            (change)="getCapitalName($event,pointIndex)" list="dynamicCountryList" required>
          <datalist id="dynamicCountryList">
            <option *ngFor="let crty of countries;" [value]="crty.name">{{crty.name}}</option>
          </datalist>
        </td>
        <td (contextmenu)="indexvar=pointIndex;indexheader=1">
          <input type="text" Placeholder="select capital" id="capitalname" formControlName="capital"
            (change)="getCountryName($event,pointIndex)" list="dynamicCapitalList" required>
          <datalist id="dynamicCapitalList">
            <option *ngFor="let crty of countries;" [value]="crty.capital">{{crty.capital}}</option>
          </datalist>
        </td>
        <td *ngIf="tableform.value.left" (contextmenu)="indexvar=pointIndex">
          <input type="text" Placeholder="some text" id="colleftname" formControlName="colleft">
        </td>
        <td *ngIf="tableform.value.right" (contextmenu)="indexvar=pointIndex">
          <input type="text" Placeholder="some text" id="colrightname" formControlName="colright">
        </td>
      </tr>

    </table>
  </div>
</form>

<button class="button" (click)="updateAllDetails()">Submit</button>

<div *ngIf="showRightClickOptions" id="contextMenu" class="context-menu" [style.left]="contextMenuPosition.x"
  [style.top]="contextMenuPosition.y">
  <ul>
    <li><a (click)="addRowAbove()">Add Row Above</a></li>
    <li><a (click)="addRowBelow()">Add Row Below</a></li>
    <li *ngIf="tableform.value.country_capital.length!=1"><a (click)="removeRow()">Remove Row</a></li>
    <div *ngIf="indexheader!=0">
      <li><a (click)="addColumnLeft()">Add Column Left</a></li>
      <li><a (click)="addColumnRight()">Add Column Right</a></li>
    </div>
  </ul>
</div>